<h1><%=h @profile.user.name  %></h1>

<h2>About</h2>
<p><%=h @profile.description %></p>
<%= link_to 'Edit', edit_profile_path(@profile) %>
<br/><br/>
<h2>Skills</h2>
<br/><br/>
<%= render :partial => 'experience', :locals => {:profile => @profile} %>




