
body {
/*  background: #E0E4CC url("../images/dotted_bg.png") repeat-x;*/
/*background-color: #EFFAB4;*/
  background-color:#E6E6E6;
}

#wrapper {
/*  position: relative;*/
  width:100%;
  min-height:40px;
  padding: 0;
  background: url(../images/gradient.png) repeat-x;
  background-color:#E6E6E6;
/*  background: #FAFBFC url(../images/gradient.jpg) repeat-x;*/
/*  background: -webkit-gradient(radial, center 300, 0, center 300, 460, color-stop(43.478%, white), color-stop(100%, rgba(255, 255, 255, 0))),#FAFBFC url(../images/gradient.jpg) repeat-x;*/
/*  background: -webkit-radial-gradient(center 300, white 200px, rgba(255, 255, 255, 0) 460px),#FAFBFC url(../images/gradient.jpg) repeat-x;*/
/*  background: -moz-radial-gradient(center 300px, white 200px, rgba(255, 255, 255, 0) 460px),#FAFBFC url(../images/gradient.jpg) repeat-x;*/
/*  background: -o-radial-gradient(center 300px, white 200px, rgba(255, 255, 255, 0) 460px),#FAFBFC url(../images/gradient.jpg) repeat-x;*/
/*  background: radial-gradient(center 300px, white 200px,rgba(255, 255, 255, 0) 460px),#FAFBFC url(../images/gradient.jpg) repeat-x;*/

}



#header {
  padding: 0 40px 0 40px;
  background-color: #C7E76C;
  height:50px;
  clear:both;
}

#header #logo {
/*  margin: -58px 10px 15px -90px;*/
  float: left;
}

#header .tagline {
/*  font-family: 'Open Sans', sans-serif;*/
  font-size: 3em;
  padding: 30px 0 0 0;
  font-weight: bold;
}


#navigation {
/*  clear:both;*/
  margin:0;
  padding: 10px 0 10px 0;
  z-index: 10;
  position: relative;
}

#navigation ul {
/*  padding-bottom: 10px;*/
}

#navigation ul {
  list-style: none;
  margin:0;
}

#navigation ul li {
  float: left;
  margin-left: 10px;
}

#navigation ul li a {
  background: #A0CE4E;
  color: white;
  text-decoration: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 15px;
  display: block;
  padding: 4px 10px 4px 10px;
/*  margin-top: 8px;*/
  font-weight: normal;
/*  font-size: 1.5em;*/
  letter-spacing: -1px;
}

#navigation ul li a:hover {
  background: #F38630;
}

#navigation ul.right {
  margin-right: 20px;
}


#notifications {
/*  height: 50px;*/
}

#main_area {
  padding-top: 20px;
  width: 942px;
  margin: 3px auto -35px auto;
}

#content_area {
  padding: 5px 0 20px 0;
  color: black;
  background-color: white;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  position: relative;
  border: 2px solid #ddd;
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;
}

#content {
  padding: 10px 20px 0 20px;
}

#content h1 {
  font-family: 'Coustard', serif;
  text-align: center;
}

#notifications {
/*  height: 50px;*/
}

#footer {
  text-align: center;
}

.message {
  text-align: center;
  font-size: 1.3em;
}

.simple_form label {
  float: left;
  width: 160px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form .cleditorMain {
  clear:both;
  margin-left: 180px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 180px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

#language-selection {
  width: 150px;
  height: 80px;
  position: absolute;
  top: 50px;
  margin-left: 176px;
  left: 50%;
  display:none;
  background: #C7E76C;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#language-selection ul {
  list-style: none;
  margin:0;
}

#language-selection ul li {
  float: left;
  margin-left: 10px;
}

#language-selection ul li a.nav-button {
  background: #0C2F33;
  color: white;
  display: block;
  padding: 3px 16px;
  margin-top: 8px;
  font-weight: normal;
  letter-spacing: -1px;  
  -moz-border-radius: 20px;
  -webkit-border-raddius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

#search {
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
  
}

#search #location {
  float:left;
  font-size: 14px;
  height: 28px;
  width: 300px;
  background-color: white;
  padding: 3px 0 3px 8px;

  margin: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15)!important;
  border-top: 1px solid rgba(0, 0, 0, 0.25)!important;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 1px;
  -webkit-transition: none;
  -webkit-appearance: textfield;
  -webkit-user-select: text;
  cursor: auto;
}

#search #kind {
  float:left;
  font-size: 14px;
  height: 28px;
  width: 150px;
  padding: 3px 0 3px 8px;
  margin: 8px 10px;
}


table.postlist {
  font-size: 14px;
  color: #999;
  border-spacing: 0;
  border-collapse: collapse;
}

table.postlist tr td {
  padding: 10px 20px 0 20px;
  border-bottom: 1px solid #DDD;
}

table.postlist .title h4 a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

table.postlist p.business {
  margin: 0;
  font-size: 12px;
}

table.postlist .meta {
  width: 1%;
  font-size: 12px;
  white-space: nowrap;
  padding-left: 30px;
}

table.postlist .meta span {
  display: block;
  text-align: right;
  color: #666;
}

.user-details {
  line-height: 17px;
  width: 300px;
}

.user-details td {
  padding: 4px 0 4px 0;
}

.user-details td.detail-attribute {
  width: 120px;
}

.user-details td.detail-value {
  width: 230px;
}

#post_about {
  text-align: center;
}

#post_step {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

#post_step ul {
  list-style: none;
  margin:auto;
  text-align: center;
}

#post_step ul li {
  float: left;
  margin-left: 10px;
}

#post_step ul li a {
  background: #0C2F33;
  color: white;
  text-decoration: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: block;
  padding: 3px 16px;
  margin-top: 8px;
  font-weight: normal;
  letter-spacing: -1px;
}

#post_step ul li a.active {
  background: #e46a5a;
}