
#navigation-container {
  width: 100%;
  height: 41px;
  background-color: #C7E76C;
  overflow: hidden;
}

#navigation {
  position: relative;
  width: 925px;
  height: 41px;
  margin: 0 auto;
}

#navigation ul {
  list-style: none;
  margin:0;
}

#navigation ul li {
  float: left;
  margin-left: 10px;
}

#navigation ul li a {
  background: #0C2F33;
  color: white;
  text-decoration: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: block;
  padding: 3px 16px;
  margin-top: 8px;
  font-weight: normal;
  letter-spacing: -1px;
}

#header {
  position: relative;
  padding-bottom: 7px;
}

.message {
  text-align: center;
  font-size: 1.3em;
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}