
body {
  background: url(../images/bg.png);
}

#wrapper {
  width:100%;
  min-height:800px;
  padding: 0;
}

#header {
  clear:both;
  padding: 0 40px 0 40px;
  background:#fcad48;
  height:70px;
  border-bottom:1px solid #e87a27;
}

#header #logo {
  float: left;
}

#header .tagline {
  font-size: 3em;
  padding: 30px 0 0 0;
  font-weight: bold;
}

#navigation {
  margin:0;
  padding: 10px 0 10px 0;
  z-index: 10;
  position: relative;
}

#navigation ul {
  font-family:'Varela', Helvetica, sans-serif;
}

#navigation ul {
  list-style: none;
  margin:0;
}

#navigation ul li {
  float: left;
  margin-left: 10px;
}

#navigation ul li a {
  background: #e87a27;
  color:#fff;
  text-decoration: none;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  display: block;
  padding: 4px 10px 4px 10px;
  font-size:13pt;
}

#navigation ul li a:hover {
  background: #D05F11;
}

#navigation ul.right {
  margin-right: 20px;
}

#notifications {
/*  height: 50px;*/
}

#main_area {
  padding-top: 20px;
  width: 900px;
  margin: 3px auto -35px auto;
}

#content_area {
  padding:0;
  height:620px;
}

#content {
  padding: 10px 20px 0 20px;
}

#content h1, h2 {
  font-family:'Days One', Helvetica, sans-serif;
  text-shadow:0px 1px 0px #fff;
  text-align: center;
}

#content h1 {
  font-size:30pt;
  font-weight:200;
  color:#666764;
}

#content h2 {
  font-size:18pt;
  color:#666764;
}

#notifications {
/*  height: 50px;*/
}

#footer {
  padding: 10px 10px 10px 10px;
  color: black;
  background-color:#E9E9E9;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  position: relative;
  -moz-box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
  height:100px;
  filter:alpha(opacity=15);
  opacity:0.15;
}

#site_options {
  margin: 20px 0;
  text-align:center;	
}

#site_options a {
  font-family:"Valera", Helvetica, sans-serif;
  font-size:13pt;
  font-weight:900;
  color:#fff;
  text-decoration: none;
}

#site_options a:hover {
  color:#E87A27;
}

.message {
  text-align: center;
  font-size: 1.3em;
}

.simple_form label {
  float: left;
  width: 160px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form .cleditorMain {
  clear:both;
  margin-left: 180px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 180px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

#language-selection {
  width: 150px;
  height: 80px;
  position: absolute;
  top: 50px;
  margin-left: 176px;
  left: 50%;
  display:none;
  background: #C7E76C;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#language-selection ul {
  list-style: none;
  margin:0;
}

#language-selection ul li {
  float: left;
  margin-left: 10px;
}

#language-selection ul li a.nav-button {
  background: #0C2F33;
  color: white;
  display: block;
  padding: 3px 16px;
  margin-top: 8px;
  font-weight: normal;
  letter-spacing: -1px;  
  -moz-border-radius: 20px;
  -webkit-border-raddius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

#search-container {
  padding: 10px 10px 10px 10px;
  color: black;
  background-color:#E9E9E9;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  position: relative;
  -moz-box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  height:200px;	
}

#search {
  background:#cacaca;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height:60px;
  margin: 0;
}

#search #location {
  float:left;
  font-family:"Valera", Helvetica, sans-serif;
  font-size: 18pt;
  font-weight:900;
  height: 50px;
  width: 520px;
  line-height:35px;
  color:#cacaca;
  background-color:#fff;
  padding: 3px 0 3px 8px;
  margin: 5px 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -webkit-transition: none;
  -webkit-appearance: textfield;
  -webkit-user-select: text;
  cursor: auto;
  border:1px solid #999;
}

#search #kind {
  float:left;
  font-size: 14px;
  height: 30px;
  width: 150px;
  padding: 0px 5px 3px 8px;
  margin: 14px 5px;  
  padding-left:2px;
  font-family:"Valera", Helvetica, sans-serif;
  font-size:12pt;
  font-weight:600;
  display : block;
  text-align:left;
  cursor: pointer;
  border:1px solid #E87A27;
  color:#fff;
  background:#FF9900;
  text-shadow:0px 1px 0px #E87A27;
}

#search button {
  margin:6px 6px;
  float:right;
  width:148px; height:48px;
  background:#FF9900;
  border:1px solid #E87A27;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family:'Valera', Helvetica, sans-serif;
  font-size:20pt;
  color:#fff;
  text-shadow:0px 1px 0px #E87A27;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcad48', endColorstr='#ff9900');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcad48', endColorstr='#ff9900');
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc77f), to(#ff9900));
  background: -moz-linear-gradient(top,  #fcad48,  #ff9900);
}

#search button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcdbab', endColorstr='#ff9900');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcdbab', endColorstr='#ff9900');
  background: -webkit-gradient(linear, left top, left bottom, from(#fcdbab), to(#ff9900));
  background: -moz-linear-gradient(top,  #fcdbab,  #FF9900);
}

#employer-box {
  float:left;
  padding: 20px 20px 20px 20px;
  color: black;
  background-color:#E9E9E9;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  position: relative;
  -moz-box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.1);
  width:380px; height:290px;		
}

#employer-box h1, #profiles-box h1 {
  font-size:15pt;
  font-weight:200;
  color:#E87A27;
  text-align:left;
}

#employer-box h2 p, #profiles-box h2 p{
  font-family:"Valera", Helvetica, sans-serif;
  font-size:12pt;
  font-weight:500;
  color:#666764;
  text-align:left;
}

#employer-box .signup {
  float:left;
  margin:3px 43px;
  width:300px; height:48px;
  background:#FF9900;
  border:1px solid #226fcb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family:'Valera', Helvetica, sans-serif;
  font-size:15pt;
  color:#fff;
  text-shadow:0px 1px 0px #226fcb;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b4ff', endColorstr='#0b486b');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b4ff', endColorstr='#0b486b');
  background: -webkit-gradient(linear, left top, left bottom, from(#00b4ff), to(#0b486b));
  background: -moz-linear-gradient(top,  #00b4ff,  #0b486b);	
}

#profiles-box {
  float:right;
  padding: 20px 20px 20px 20px;
  color: black;
  background-color:#e9e9e9;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  position: relative;
  -moz-box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.1);
  width:380px; height:290px;
}

#profiles-box .create_profile {
  float:left;
  margin:3px 43px;
  width:300px; height:48px;
  background:#FF9900;
  border:1px solid #0d8c01;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family:'Valera', Helvetica, sans-serif;
  font-size:15pt;
  color:#fff;
  text-shadow:0px 1px 0px #0d8c01;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcad48', endColorstr='#ff9900');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcad48', endColorstr='#ff9900');
  background: -webkit-gradient(linear, left top, left bottom, from(#a0d4a4), to(#1a8922));
  background: -moz-linear-gradient(top,  #fcad48,  #ff9900);	
}

table.postlist {
  font-size: 14px;
  color: #999;
  border-spacing: 0;
  border-collapse: collapse;
}

table.postlist tr td {
  padding: 10px 20px 0 20px;
  border-bottom: 1px solid #DDD;
}

table.postlist .title h4 a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

table.postlist p.business {
  margin: 0;
  font-size: 12px;
}

table.postlist .meta {
  width: 1%;
  font-size: 12px;
  white-space: nowrap;
  padding-left: 30px;
}

table.postlist .meta span {
  display: block;
  text-align: right;
  color: #666;
}

.user-details {
  line-height: 17px;
  width: 300px;
}

.user-details td {
  padding: 4px 0 4px 0;
}

.user-details td.detail-attribute {
  width: 120px;
}

.user-details td.detail-value {
  width: 230px;
}

#post_about {
  text-align: center;
}

#post_step {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

#post_step ul {
  list-style: none;
  margin:auto;
  text-align: center;
}

#post_step ul li {
  float: left;
  margin-left: 10px;
}

#post_step ul li a {
  background: #0C2F33;
  color: white;
  text-decoration: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: block;
  padding: 3px 16px;
  margin-top: 8px;
  font-weight: normal;
  letter-spacing: -1px;
}

#post_step ul li a.active {
  background: #e46a5a;
}