
#navigation-container {
  width: 100%;
  height: 41px;
  background-color: #C7E76C;
  overflow: hidden;
}

#navigation {
  position: relative;
  width: 925px;
  height: 41px;
  margin: 0 auto;
}

#navigation ul {
  list-style: none;
  margin:0;
}

#navigation ul li {
  float: left;
  margin-left: 10px;
}

#navigation ul li a {
  background: #0C2F33;
  color: white;
  text-decoration: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: block;
  padding: 3px 16px;
  margin-top: 8px;
  font-weight: normal;
  letter-spacing: -1px;
}

#header {
  position: relative;
  padding-bottom: 7px;
}

#notifications {
  height: 50px;
}

.message {
  text-align: center;
  font-size: 1.3em;
}

.simple_form label {
  float: left;
  width: 160px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form .cleditorMain {
  clear:both;
  margin-left: 180px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 180px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

#language-selection {
  width: 150px;
  height: 80px;
  position: absolute;
  top: 50px;
  margin-left: 176px;
  left: 50%;
  display:none;
  background: #C7E76C;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#language-selection ul {
  list-style: none;
  margin:0;
}

#language-selection ul li {
  float: left;
  margin-left: 10px;
}

#language-selection ul li a.nav-button {
  background: #0C2F33;
  color: white;
  display: block;
  padding: 3px 16px;
  margin-top: 8px;
  font-weight: normal;
  letter-spacing: -1px;  
  -moz-border-radius: 20px;
  -webkit-border-raddius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

#search {
  
}

#search #location {
  float:left;
  font-size: 14px;
  height: 28px;
  width: 300px;
  background-color: white;
  padding: 3px 0 3px 8px;

  margin: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15)!important;
  border-top: 1px solid rgba(0, 0, 0, 0.25)!important;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 1px;
  -webkit-transition: none;
  -webkit-appearance: textfield;
  -webkit-user-select: text;
  cursor: auto;
}

#search #kind {
  float:left;
  font-size: 14px;
  height: 28px;
  width: 150px;
  padding: 3px 0 3px 8px;
  margin: 8px 10px;
}


table.postlist {
  font-size: 14px;
  color: #999;
  border-spacing: 0;
  border-collapse: collapse;
}

table.postlist tr td {
  padding: 8px 0;
  border-bottom: 1px solid #DDD;
}

table.postlist .title h4 a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

table.postlist p.business {
  margin: 0;
  font-size: 12px;
}

table.postlist .meta {
  width: 1%;
  font-size: 12px;
  white-space: nowrap;
  padding-left: 30px;
}

table.postlist .meta span {
  display: block;
  text-align: right;
  color: #666;
}

.user-details {
  line-height: 17px;
  width: 300px;
}

.user-details td {
  padding: 4px 0 4px 0;
}

.user-details td.detail-attribute {
  width: 120px;
}

.user-details td.detail-value {
  width: 230px;
}

#post_about {
  text-align: center;
}

#post_step {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

#post_step ul {
  list-style: none;
  margin:auto;
  text-align: center;
}

#post_step ul li {
  float: left;
  margin-left: 10px;
}

#post_step ul li a {
  background: #0C2F33;
  color: white;
  text-decoration: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: block;
  padding: 3px 16px;
  margin-top: 8px;
  font-weight: normal;
  letter-spacing: -1px;
}

#post_step ul li a.active {
  background: #e46a5a;
}