
#navigation-container {
  width: 100%;
  height: 41px;
  background-color: #C7E76C;
  overflow: hidden;
}

#navigation {
  position: relative;
  width: 925px;
  height: 41px;
  margin: 0 auto;
}

#navigation ul {
  list-style: none;
  margin:0;
}

#navigation ul li {
  float: left;
}

#navigation ul li a {
  background: #0C2F33;
  color: white;
  text-decoration: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: block;
  padding: 3px 16px;
  margin-top: 8px;
  font-weight: normal;
  letter-spacing: -1px;
}

#header {
  position: relative;
  padding-bottom: 7px;
}