// Colors for the dark theme.

@body-background: url(../images/bg.png);
@box-shadow-color: rgba(0,0,0,0.1);
@rounded-corner-background: url(../images/light_bg.jpg);
@text-color: #666764;
@text-shadow-color: #fff;
@header-background: #fcad48;
@header-border-color: #e87a27;
@header-menu-text-color: #fff;
@header-menu-background: lighten(#e87a27, 5%);
@header-menu-hover-background: #d05f11;
@site-option-text-color: #fff;
@site-option-hover: #e87a27;
@footer-text-color: darken(#666764, 20%);
@footer-text-hover-color: #e87a27;
@search-box-background: #cacaca;
@search-box-text-color: #fff;
@search-box-text-shadow: #e87a27;
@search-box-location-text-color: #cacaca;
@search-box-location-border-color: #999;
@search-box-selection-background: #ff9900;
@search-box-selection-border-color: #e87a27;
@search-box-button-background: #ff9900;
@search-box-button-border-color: #e87a27;
@call-to-action-box-title-color: #e87a27;
@call-to-action-box-text-color: #666764;
@call-to-action-button-text-color: #fff;
@sign-up-button-background: #0b486b;
@sign-up-button-border-color: #226fcb;
@sign-up-text-shadow-color: #226fcb;
@create-profile-button-background: #1a8922;
@create-profile-button-border-color: #0d8c01;
@create-profile-text-shadow-color: #0d8c01;