// Colors for the dark theme.

@color-orange-lite: #ff9900;
@color-orange-dark: #e87a27;
@color-orange-medium: #fcad48;
@color-grey-dark: #666764;
@color-grey-light: #cacaca;
@color-grey-medium: #999;
@color-blue-light: #0b486b;
@color-blue-dark: #226fcb;
@color-green-light: #1a8922;
@color-green-dark: #0d8c01;


@body-background: url(../images/bg.png);
@box-shadow-color: rgba(0,0,0,0.1);
@rounded-corner-background: url(../images/light_bg.jpg);
@rounded-corner-border-color: @color-grey-light;
@rounded-corner-text-color: @color-grey-dark;
@text-color: @color-grey-dark;
@text-shadow-color: white;
@h3-text-color:@color-orange-dark;
@input-background: white;
@select-background: @color-orange-lite;
@select-border-color: @color-orange-dark;
@select-text-color: white;
@select-text-shadow-color: @color-orange-dark;
@header-background: @color-orange-medium;
@header-border-color: @color-orange-dark;
@header-menu-text-color: white;
@header-menu-background: lighten(@color-orange-dark, 5%);
@header-menu-hover-background: darken(@color-orange-dark, 5%);
@footer-text-color: darken(#fff, 20%);
@footer-text-hover-color: white;
@search-box-background: @color-grey-light;
@search-box-text-color: white;
@search-box-text-shadow: @color-orange-dark;
@search-box-location-text-color: @color-grey-light;
@search-box-location-border-color: @color-grey-medium;
@search-button-background: @color-orange-lite;
@search-button-border-color: @color-orange-dark;
@search-button-text-shadow-color: @color-orange-dark;
@button-action-1-background: @color-blue-light;
@button-action-1-border-color: @color-blue-dark;
@button-action-1-text-shadow-color: @color-blue-dark;
@button-action-2-background: @color-green-light;
@button-action-2-border-color: @color-green-dark;
@button-action-2-text-shadow-color: @color-green-dark;
@signin-link-color: @color-blue-light;
@signin-link-hover-color: @color-orange-dark;
