<tr>
  <td class="title">
    <h4><%= link_to h(post.title), post_path(post) %></h4>
    <p class="business"><%=h post.business_name %></p>
  </td>
  <td class="meta">
    <span class="when"><%= l post.created_at :format => :short %></span>
  </td>
</tr>
