<% @title = "Job Postings" %>

<%= form_tag posts_path, :method => "get", :class => "posts" do %>
<% end %>

<ul data-role="listview">
  <% for post in @posts %>
      <li><%= link_to h(post.title), post_path(post) %></li>
  <% end %>
</ul>
