<div class="content-body" align="center">
  <h2>Create a posting</h2>
  <p>Your new posting will be posted for 30 days starting today.</p>
<div id="post_step_container" class="rounded-box-with-shadow">
  <%= render :partial => "#{@post.current_step}_step", :locals => {:post => @post} %>
</div>
</div>
