<div class="content-body" align="center">
  <h2><%=t :posting_header%></h2>
  <p><%=t :posting_desc%></p>
<div id="post_step_container" class="rounded-box-with-shadow">
  <%= render :partial => "#{@post.current_step}_step", :locals => {:post => @post} %>
</div>
</div>
